.header-nav {
display: flex;
align-items: center;
margin-left: auto;

&-cont {
align-items: center;
margin-left: auto;
padding-left: 0;
}

& .item-tel:last-child {
margin-right: 0;
}

}


.nav {
display: flex;
margin-left: 0;
}

.page-nav {
padding-left: 0;
margin-bottom: 0;
margin-top: 0;

& .item:last-child {
margin-right: 0;
}

}

.item {
margin-right: 50px;

}


.mail {
fill: var(--grayeness-fill-color);
margin-right: 10px;
margin-bottom: -2px;
transition: color var(--anim), fill var(--anim);
}

.tel {

fill: var(--grayeness-fill-color);
margin-right: 10px;
margin-bottom: -2px;
transition: color var(--anim), fill var(--anim);

}

.header-bg {
    background-color: var(--white-bg-color);
    border-bottom: 1px solid #ECECEC;

}

.logo-header {

    font-family: 'Raleway';
    color: var(--blue-txt-color);
    @include fonts(700, 26px, 1.19, 0.03em);
    text-decoration: none;
    word-spacing: -0.29em;
    margin-right: 93px;

}

.logo-header-part-2 {
    color: var(--black-txt-color);

}

.anchor {
    display: block;
    color: var(--dark-txt-color);
    @include fonts(500, 14px, 1.14, 0.02em);
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color var(--anim);

    &:hover,
    &:focus {
        color: var(--blue-txt-color);
    }

}