
.header-nav {
display: flex;
align-items: center;
margin-left: auto;

    
&-cont {
display: none;   
align-items: center;
margin-left: auto;
padding-left: 0;

@media screen and (min-width: 768px) {
display: flex;
flex-direction: column;
align-items:flex-start;
}

@media screen and (min-width: 1200px) {
flex-direction: row; 
   
}

}
    
& .item-tel:last-child {
    margin-right: 0;
}
    
}


.nav {
display: flex;
margin-left: 0;
}

.page-nav {
display: none;

@media screen and (min-width: 768px) {
display: flex;
   
padding-left: 0;
margin-bottom: 0;
margin-top: 0; }

& .item:last-child {
margin-right: 0;
}

}

.item:not(:last-child) {
margin-right: 50px;
}

@media screen and (min-width: 1200px) {
.item {
margin-right: 50px;
}
}

.mail {

@media screen and (min-width: 768px) {
fill: var(--grayeness-fill-color);
transition: color var(--anim), fill var(--anim);
width: 14px;
height: 10px;
margin-right: 8px;
}

@media screen and (min-width: 1200px) {
margin-right: 10px;
margin-bottom: -2px;
width: 16px;
height: 12px;}


}

.tel {

@media screen and (min-width: 768px) {
width: 10px;
height: 14px;
margin-right: 8px;
fill: var(--grayeness-fill-color);
transition: color var(--anim), fill var(--anim);
}

@media screen and (min-width: 1200px) {
margin-right: 10px;
margin-bottom: -2px;
width: 10px;
height: 16px;

}
}

.header-bg {
    background-color: var(--white-bg-color);
    border-bottom: 1px solid #ECECEC;
    padding-left: 15px;

  
}

.logo-header {

    font-family: 'Raleway';
    color: var(--blue-txt-color);
    @include fonts(700, 26px, 1.19, 0.03em);
    text-decoration: none;
    word-spacing: -0.29em;
    margin-right: 88px;

    @media screen and (max-width: 767px) {
    padding-top: 16px;
    padding-bottom: 16px;}

    @media screen and (min-width: 1200px) {
    margin-right: 93px;
    }
}

.logo-header-part-2 {
    color: var(--black-txt-color);

}

.anchor {
    display: block;
    color: var(--dark-txt-color);
    @include fonts(500, 14px, 1.14, 0.02em);
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color var(--anim);

    &:hover,
    &:focus {
    color: var(--blue-txt-color);
    }

}

.menu-open {
    display: block;
    margin-left: auto;
    margin-top: -1px;
    margin-right: 5px;
    border: none;
    background-color: var(--white-bg-color);

    &:hover,
    &:focus {
    fill: var(--blue-txt-color);
    cursor: pointer;
    transition: fill var(--anim);
  
    }
    @media screen and (min-width: 768px) {
    display: none;
    }
}

.mob-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--white-bg-color);
    padding-top: 48px;
    padding-bottom: 48px;





    .header-mob-list {
    list-style: none;
    }


    .container-menu {
        max-width: 430px;
        position: relative;
        margin: 0 auto;
        // padding-left: 15px;
        // padding-right: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
     
    }

      

}

.menu-close {
    position: absolute;
    top: -28px;
    right: 0;
   
    
    border: none;
    background-color: var(--white-bg-color);


    &:hover,
    &:focus {
    fill: var(--blue-txt-color);
    cursor: pointer;
    transition: fill var(--anim);
    }

    @media screen and (min-width: 480px) {
    right: -4px;
    }

}

.mob-menu-link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--black-txt-color);
    text-decoration: none;

    &:hover,
    &:focus {
    color: var(--blue-txt-color);
    transition: color var(--anim);
        }
}

.mob-social-link {
    font-weight: 500;
    font-size: 10px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--blue-txt-color);
    text-decoration: none;

    @media screen and (min-width: 480px) {

    font-size: 18px;
    
}
}

.mob-contacts-link {

    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--gray-txt-color);

    &:hover,
    &:focus {
    color: var(--blue-txt-color);
    transition: color var(--anim);
    }


}

.mob-menu-item:not(:last-child) {
margin-bottom: 32px;
}

.mob-contacts-item:not(:last-child) {
    margin-bottom: 32px;

    .mob-contacts-link {
        font-size: 27px;
        line-height: 1.18;

        @media screen and (min-width: 480px) {
        font-size: 34px;
        }
    }
}

.mob-contacts-list {
    margin-bottom: 64px;
}

.mob-social-list {
    display: flex;
}

.mob-social-item:not(:last-child) {
padding-right: 10px;
margin-right: 10px;
border-right: 1px solid rgba(33, 33, 33, 0.2);
}


.mob-menu.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}