.strong-title {

    margin-bottom: 12px;
    @include fonts(700, 20px, 1.15, 0.03em);
    text-align: center;
    color: var(--dark-txt-color);
}

.welcome-title {

    display: flex;
    align-items: center;
    color: var(--white-txt-color);
    text-transform: uppercase;
    @include fonts(700, 14px, 1.14, 0.03em);

}

.clients-title {
  
    @include fonts(700, 36px, 1.17, 0.03em);
    text-align: center;
    margin-bottom: 50px;

}