.welcome {
    min-width: 206px;
    padding-top: 12px;
    color: var(--white-fill-color);
    margin-left: 70px;

    &-list {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-left: 0;
    margin-bottom: 0;
    }
}
    
    
    
    
    